<div class="container">			
		<h1>Details 
				 <%= link_to "Back", students_path, class: "pull-right btn btn-style"  %>	
				 <%= link_to "Delete", student_path(@student), method: :delete, data: { confirm: "Are you sure want to delete?" } , class: "pull-right btn btn-style" %>
				 <%= link_to "Edit", edit_student_path(@student), class: "pull-right btn btn-style" %>
		</h1><hr/>
		<div class="col-md-6 col-md-offset-3">
		 <div class="student-show">
		 	<p><b>Name:</b> <%= @student.name %></p> 
			<p><b>Roll no:</b> <%= @student.roll_no %></p>
			<p><b>Class:</b> <%= @student.student_class %></p>
			<p><b>Description:</b> <%= @student.description %></p><hr/>

			<h4>Comments</h4>
			<% @student.comments.each do |comment| %>
				
				<p>
					<strong>Commenter:</strong>	
					<%= comment.commenter %>
				</p>
				<p>
					<strong>Comment:</strong>
					<%= comment.body %>
				</p>	
			<% end %><hr/>	

			<u><h4>Add a comment:</h4></u>
			<%= form_for([@student, @student.comments.build]) do |f| %>
			  <p>
			    <%= f.label :commenter %><br>
			    <%= f.text_field :commenter %>
			  </p>
			  <p>
			    <%= f.label :body %><br>
			    <%= f.text_area :body %>
			  </p>
			  <p>
			    <%= f.submit %>
			  </p>
			<% end %>
		</div>	
	</div>	
   </div>	
</div>		